streamlit

python-dotenv

youtube-transcript-api

langchain

langchain-community

langchain-openai

langchain-google-genai

faiss-cpu

tiktoken

rank-bm25 

sentence-transformers

sounddevice 

numpy

scipy
 
openai

yt-dlp

audio-recorder-streamlit

